body {
    
  background-color: #060607;
    font-family: 'Red Hat Display', sans-serif;

}

.blue-text {
    color: #9CD5EE;
  

}

.flex-container {
   display: inline-flex;
    justify-content: space-between;
  

}

.flex-child {

    height: 400;
    width: 250px;
    text-align: center;
    color: #ECFAFF;


   
   


}

.flex-child img {

    width: 100px;
    margin: 0 auto;
}

.flex-container-col {
    display: inline-flex;
    flex-direction: column;



}

.flex-child-col {
    color: #ECFAFF;
    text-align: center;


}