body {
    
  background-color: #060607;
    font-family: 'Red Hat Display', sans-serif;

}

.blue-text {
    color: #9CD5EE;
  

}

.flex-container {
   display: inline-flex;
    justify-content: space-between;
  

}

.flex-child {

    height: 400;
    width: 250px;
    text-align: center;
    color: #ECFAFF;


   
   


}

.flex-child img {

    width: 100px;
    margin: 0 auto;
}

.MyWork {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid blue;
    color: #ECFAFF;
}

.flex-container-col {
    display: flex;
    flex-direction: row;
    border: 0px solid red;


}


.blurb {
    width: calc(100% - 305px);
    height: 200px;
    color: #ECFAFF;
    text-align: center;
    border: 2px solid lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;



}

.string {
    width: 305px;
    height: 200px;
    border: 2px solid lightblue;
    border-left: 0px;


}
.mySkills{
    border: 1px solid blue;
    width: 100%;
    height: 400px;
    padding-top: 20px;

}
.mySkills .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.flex-child {
    display: flex;
    flex-direction: column;

}