body {
    
  background-color: #060607;
    font-family: 'Red Hat Display', sans-serif;

}

.blue-text {
    color: #9CD5EE;
  

}

.flex-container {
    display: inline-flex;
    justify-content: right;
  

}

.flex-child {

    height: 400;
    width: 250px;
    text-align: center;
    color: #ECFAFF;


   
   


}

.flex-child img {

    width: 100px;
    margin: 0 auto;
}